<IfModule mod_rewrite.c>
#ACTIVAR REWRITE
RewriteEngine on
ErrorDocument 404 http://localhost/clases/proyecto-php-poo/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controlador=$1&accion=$2
</IfModule>
